@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.5;
}

.car-info {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  text-align: center;
}
.car-info h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.car-info .car-info-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.car-info .car-info-table .car-info-column {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.car-info .car-info-table .car-info-column .car-info-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.car-info .car-info-table .car-info-column .car-info-row .car-info-item {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
}
.car-info .car-info-table .car-info-column .car-info-row .car-info-item .fa {
  margin-right: 10px;
}
.car-info .car-info-table .car-info-column .car-info-row .car-info-item-value {
  margin-left: 10px;
  font-size: 12px;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

img {
  width: 100%;
  display: block;
  padding: 15px;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
  padding-top: 15px;
}

.img-showcase img {
  min-width: 100%;
  padding-top: 15px !important;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding-top: 20px;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
  padding-top: 5px !important;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(shoes_images/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: rgb(20, 225, 20);
}

.purchase-info .btn.blue {
  background-color: #f64749;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

.sellers {
  background: var(--greyColor);
}
.sellers .secContainer {
  margin: 2rem inherit;
}
.sellers .secContainer .sellersContainer {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.sellers .secContainer .sellersContainer .singleSeller {
  padding: 0.5rem 0;
  border-radius: 3px;
  gap: 1rem;
  transition: 0.3s ease-in-out;
}
.sellers .secContainer .sellersContainer .singleSeller .imgdiv {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  border-radius: 3px;
}
.sellers .secContainer .sellersContainer .singleSeller .info .name {
  color: var(--blackColor);
  font-size: 20px;
}
.sellers .secContainer .sellersContainer .singleSeller .info p {
  font-size: 14px;
}
.sellers .secContainer .sellersContainer .singleSeller:hover {
  background: rgb(237, 237, 237);
  padding: 0.5rem;
}
.sellers .secContainer .sellersContainer .singleSeller:hover img {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 3px;
  background: rgb(223, 223, 223);
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 520px) {
  .car-info {
    padding: 1px; /* Adjust padding for a more compact layout */
  }
  .car-info h1 {
    font-size: 20px; /* Adjust the font size of the section heading for smaller screens */
    margin-bottom: 10px; /* Adjust the bottom margin */
  }
  .car-info-table {
    grid-template-columns: 1fr; /* Display columns in a single column for smaller screens */
    grid-gap: 10px; /* Adjust the gap between columns */
  }
  .car-info-column {
    flex-basis: 40%; /* Full width for columns in smaller screens */
  }
  .car-info-item,
  .car-info-item-value {
    font-size: 14px; /* Adjust the font size of items and values */
  }
}/*# sourceMappingURL=NavbarPage.css.map */