.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580vh;
  background-image: url("../../Assets/cummabanner1.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

.container {
  text-align: center;
  /* Center text */
}

.form-control-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  /* Adjust the max-width as needed */
  margin: 0 auto;
  background-color: #fff;
  /* White background for the form */
  padding: 50px;
  /* Adjust as needed */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Box shadow for a subtle effect */
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

label {
  width: 40%;
  text-align: left;
  padding-right: 10px;
}

input,
textarea,
select {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}/*# sourceMappingURL=Jolly.css.map */