/* Jump.css */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.container {
  text-align: center; /* Center text */
}

.form-control-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

label {
  /* Style for labels */
  width: 40%;
  text-align: left;
  padding-right: 10px;
}

input,
textarea {
  /* Add styles for input elements */
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  /* Add styles for buttons */
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}/*# sourceMappingURL=Jump.css.map */