// Banner.scss

.carousel-image {
  width: 300px;
  height: 500px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.carousel-item {
  width: 100%; /* Set the width of the items */
}

.carousel-inner {
  overflow: visible; /* Allow items to overflow */
}

.carousel-item img {
  width: auto; /* Maintain the original image aspect ratio */
  height: 150%; /* Adjust the height to increase the top and bottom */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
@media screen and (min-width: 520px) {
  .carousel-image {
    width: 200px;
    height: 300px;
  }
}
